<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baidu.springbootdemo.dao.ysxAgentProductBeanMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.dao.ysxAgentProductBean" >
    <id column="AGENT_PRODUCT_ID" property="agentProductId" jdbcType="BIGINT" />
    <result column="PRODUCT_NAME" property="productName" jdbcType="VARCHAR" />
    <result column="PRODUCT_COVER" property="productCover" jdbcType="VARCHAR" />
    <result column="PRODUCT_TYPE" property="productType" jdbcType="SMALLINT" />
    <result column="PRODUCT_ID" property="productId" jdbcType="BIGINT" />
    <result column="SALE_URL" property="saleUrl" jdbcType="VARCHAR" />
    <result column="SALE_POSTER" property="salePoster" jdbcType="VARCHAR" />
    <result column="WIDTH" property="width" jdbcType="INTEGER" />
    <result column="HEIGHT" property="height" jdbcType="INTEGER" />
    <result column="ICON_SIZE" property="iconSize" jdbcType="INTEGER" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_USER_ID" property="createUserId" jdbcType="BIGINT" />
    <result column="INCOME_PROPORTION" property="incomeProportion" jdbcType="DECIMAL" />
    <result column="SENIOR_PROPORTION" property="seniorProportion" jdbcType="DECIMAL" />
    <result column="SENIOR_AMOUNT" property="seniorAmount" jdbcType="DECIMAL" />
    <result column="INCOME_AMOUNT" property="incomeAmount" jdbcType="DECIMAL" />
    <result column="PRODUCT_PRICE" property="productPrice" jdbcType="DECIMAL" />
    <result column="SALE_PRICE" property="salePrice" jdbcType="DECIMAL" />
    <result column="ONESELF_PRICE" property="oneselfPrice" jdbcType="DECIMAL" />
    <result column="SORT_CODE" property="sortCode" jdbcType="TINYINT" />
    <result column="STATUS" property="status" jdbcType="TINYINT" />
    <result column="ICON_URL" property="iconUrl" jdbcType="VARCHAR" />
    <result column="ICON_WIDTH" property="iconWidth" jdbcType="INTEGER" />
    <result column="ICON_HEIGHT" property="iconHeight" jdbcType="INTEGER" />
    <result column="TEXT_WIDTH" property="textWidth" jdbcType="INTEGER" />
    <result column="TEXT_HEIGHT" property="textHeight" jdbcType="INTEGER" />
    <result column="TEXT_FRONT" property="textFront" jdbcType="INTEGER" />
    <result column="SHARE_TITLE" property="shareTitle" jdbcType="VARCHAR" />
    <result column="SHARE_DETAILES" property="shareDetailes" jdbcType="VARCHAR" />
    <result column="DEFAULT_SHARE" property="defaultShare" jdbcType="TINYINT" />
    <result column="CHANNEL_TYPE" property="channelType" jdbcType="TINYINT" />
    <result column="SHARE_IMG" property="shareImg" jdbcType="VARCHAR" />
    <result column="PRODUCT_PACKAGE_TYPE" property="productPackageType" jdbcType="TINYINT" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="PRODUCT_DESC" property="productDesc" jdbcType="VARCHAR" />
    <result column="PRODUCT_UNIT" property="productUnit" jdbcType="VARCHAR" />
    <result column="highest_price" property="highestPrice" jdbcType="DECIMAL" />
    <result column="SHELF_STATUS" property="shelfStatus" jdbcType="TINYINT" />
    <result column="MALL_LOGO" property="mallLogo" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.example.demo.dao.ysxAgentProductBean" extends="BaseResultMap" >
    <result column="SHARE_POSTER" property="sharePoster" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    AGENT_PRODUCT_ID, PRODUCT_NAME, PRODUCT_COVER, PRODUCT_TYPE, PRODUCT_ID, SALE_URL, 
    SALE_POSTER, WIDTH, HEIGHT, ICON_SIZE, CREATE_DATE, CREATE_USER_ID, INCOME_PROPORTION, 
    SENIOR_PROPORTION, SENIOR_AMOUNT, INCOME_AMOUNT, PRODUCT_PRICE, SALE_PRICE, ONESELF_PRICE, 
    SORT_CODE, STATUS, ICON_URL, ICON_WIDTH, ICON_HEIGHT, TEXT_WIDTH, TEXT_HEIGHT, TEXT_FRONT, 
    SHARE_TITLE, SHARE_DETAILES, DEFAULT_SHARE, CHANNEL_TYPE, SHARE_IMG, PRODUCT_PACKAGE_TYPE, 
    REMARK, PRODUCT_DESC, PRODUCT_UNIT, highest_price, SHELF_STATUS, MALL_LOGO
  </sql>
  <sql id="Blob_Column_List" >
    SHARE_POSTER
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ysx_agent_product
    where AGENT_PRODUCT_ID = #{agentProductId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ysx_agent_product
    where AGENT_PRODUCT_ID = #{agentProductId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.demo.dao.ysxAgentProductBean" >
    insert into ysx_agent_product (AGENT_PRODUCT_ID, PRODUCT_NAME, PRODUCT_COVER, 
      PRODUCT_TYPE, PRODUCT_ID, SALE_URL, 
      SALE_POSTER, WIDTH, HEIGHT, 
      ICON_SIZE, CREATE_DATE, CREATE_USER_ID, 
      INCOME_PROPORTION, SENIOR_PROPORTION, SENIOR_AMOUNT, 
      INCOME_AMOUNT, PRODUCT_PRICE, SALE_PRICE, 
      ONESELF_PRICE, SORT_CODE, STATUS, 
      ICON_URL, ICON_WIDTH, ICON_HEIGHT, 
      TEXT_WIDTH, TEXT_HEIGHT, TEXT_FRONT, 
      SHARE_TITLE, SHARE_DETAILES, DEFAULT_SHARE, 
      CHANNEL_TYPE, SHARE_IMG, PRODUCT_PACKAGE_TYPE, 
      REMARK, PRODUCT_DESC, PRODUCT_UNIT, 
      highest_price, SHELF_STATUS, MALL_LOGO, 
      SHARE_POSTER)
    values (#{agentProductId,jdbcType=BIGINT}, #{productName,jdbcType=VARCHAR}, #{productCover,jdbcType=VARCHAR}, 
      #{productType,jdbcType=SMALLINT}, #{productId,jdbcType=BIGINT}, #{saleUrl,jdbcType=VARCHAR}, 
      #{salePoster,jdbcType=VARCHAR}, #{width,jdbcType=INTEGER}, #{height,jdbcType=INTEGER}, 
      #{iconSize,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=BIGINT}, 
      #{incomeProportion,jdbcType=DECIMAL}, #{seniorProportion,jdbcType=DECIMAL}, #{seniorAmount,jdbcType=DECIMAL}, 
      #{incomeAmount,jdbcType=DECIMAL}, #{productPrice,jdbcType=DECIMAL}, #{salePrice,jdbcType=DECIMAL}, 
      #{oneselfPrice,jdbcType=DECIMAL}, #{sortCode,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, 
      #{iconUrl,jdbcType=VARCHAR}, #{iconWidth,jdbcType=INTEGER}, #{iconHeight,jdbcType=INTEGER}, 
      #{textWidth,jdbcType=INTEGER}, #{textHeight,jdbcType=INTEGER}, #{textFront,jdbcType=INTEGER}, 
      #{shareTitle,jdbcType=VARCHAR}, #{shareDetailes,jdbcType=VARCHAR}, #{defaultShare,jdbcType=TINYINT}, 
      #{channelType,jdbcType=TINYINT}, #{shareImg,jdbcType=VARCHAR}, #{productPackageType,jdbcType=TINYINT}, 
      #{remark,jdbcType=VARCHAR}, #{productDesc,jdbcType=VARCHAR}, #{productUnit,jdbcType=VARCHAR}, 
      #{highestPrice,jdbcType=DECIMAL}, #{shelfStatus,jdbcType=TINYINT}, #{mallLogo,jdbcType=TINYINT}, 
      #{sharePoster,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.dao.ysxAgentProductBean" >
    insert into ysx_agent_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="agentProductId != null" >
        AGENT_PRODUCT_ID,
      </if>
      <if test="productName != null" >
        PRODUCT_NAME,
      </if>
      <if test="productCover != null" >
        PRODUCT_COVER,
      </if>
      <if test="productType != null" >
        PRODUCT_TYPE,
      </if>
      <if test="productId != null" >
        PRODUCT_ID,
      </if>
      <if test="saleUrl != null" >
        SALE_URL,
      </if>
      <if test="salePoster != null" >
        SALE_POSTER,
      </if>
      <if test="width != null" >
        WIDTH,
      </if>
      <if test="height != null" >
        HEIGHT,
      </if>
      <if test="iconSize != null" >
        ICON_SIZE,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID,
      </if>
      <if test="incomeProportion != null" >
        INCOME_PROPORTION,
      </if>
      <if test="seniorProportion != null" >
        SENIOR_PROPORTION,
      </if>
      <if test="seniorAmount != null" >
        SENIOR_AMOUNT,
      </if>
      <if test="incomeAmount != null" >
        INCOME_AMOUNT,
      </if>
      <if test="productPrice != null" >
        PRODUCT_PRICE,
      </if>
      <if test="salePrice != null" >
        SALE_PRICE,
      </if>
      <if test="oneselfPrice != null" >
        ONESELF_PRICE,
      </if>
      <if test="sortCode != null" >
        SORT_CODE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="iconUrl != null" >
        ICON_URL,
      </if>
      <if test="iconWidth != null" >
        ICON_WIDTH,
      </if>
      <if test="iconHeight != null" >
        ICON_HEIGHT,
      </if>
      <if test="textWidth != null" >
        TEXT_WIDTH,
      </if>
      <if test="textHeight != null" >
        TEXT_HEIGHT,
      </if>
      <if test="textFront != null" >
        TEXT_FRONT,
      </if>
      <if test="shareTitle != null" >
        SHARE_TITLE,
      </if>
      <if test="shareDetailes != null" >
        SHARE_DETAILES,
      </if>
      <if test="defaultShare != null" >
        DEFAULT_SHARE,
      </if>
      <if test="channelType != null" >
        CHANNEL_TYPE,
      </if>
      <if test="shareImg != null" >
        SHARE_IMG,
      </if>
      <if test="productPackageType != null" >
        PRODUCT_PACKAGE_TYPE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="productDesc != null" >
        PRODUCT_DESC,
      </if>
      <if test="productUnit != null" >
        PRODUCT_UNIT,
      </if>
      <if test="highestPrice != null" >
        highest_price,
      </if>
      <if test="shelfStatus != null" >
        SHELF_STATUS,
      </if>
      <if test="mallLogo != null" >
        MALL_LOGO,
      </if>
      <if test="sharePoster != null" >
        SHARE_POSTER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="agentProductId != null" >
        #{agentProductId,jdbcType=BIGINT},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productCover != null" >
        #{productCover,jdbcType=VARCHAR},
      </if>
      <if test="productType != null" >
        #{productType,jdbcType=SMALLINT},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="saleUrl != null" >
        #{saleUrl,jdbcType=VARCHAR},
      </if>
      <if test="salePoster != null" >
        #{salePoster,jdbcType=VARCHAR},
      </if>
      <if test="width != null" >
        #{width,jdbcType=INTEGER},
      </if>
      <if test="height != null" >
        #{height,jdbcType=INTEGER},
      </if>
      <if test="iconSize != null" >
        #{iconSize,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="incomeProportion != null" >
        #{incomeProportion,jdbcType=DECIMAL},
      </if>
      <if test="seniorProportion != null" >
        #{seniorProportion,jdbcType=DECIMAL},
      </if>
      <if test="seniorAmount != null" >
        #{seniorAmount,jdbcType=DECIMAL},
      </if>
      <if test="incomeAmount != null" >
        #{incomeAmount,jdbcType=DECIMAL},
      </if>
      <if test="productPrice != null" >
        #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="salePrice != null" >
        #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="oneselfPrice != null" >
        #{oneselfPrice,jdbcType=DECIMAL},
      </if>
      <if test="sortCode != null" >
        #{sortCode,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="iconUrl != null" >
        #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="iconWidth != null" >
        #{iconWidth,jdbcType=INTEGER},
      </if>
      <if test="iconHeight != null" >
        #{iconHeight,jdbcType=INTEGER},
      </if>
      <if test="textWidth != null" >
        #{textWidth,jdbcType=INTEGER},
      </if>
      <if test="textHeight != null" >
        #{textHeight,jdbcType=INTEGER},
      </if>
      <if test="textFront != null" >
        #{textFront,jdbcType=INTEGER},
      </if>
      <if test="shareTitle != null" >
        #{shareTitle,jdbcType=VARCHAR},
      </if>
      <if test="shareDetailes != null" >
        #{shareDetailes,jdbcType=VARCHAR},
      </if>
      <if test="defaultShare != null" >
        #{defaultShare,jdbcType=TINYINT},
      </if>
      <if test="channelType != null" >
        #{channelType,jdbcType=TINYINT},
      </if>
      <if test="shareImg != null" >
        #{shareImg,jdbcType=VARCHAR},
      </if>
      <if test="productPackageType != null" >
        #{productPackageType,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="productDesc != null" >
        #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="productUnit != null" >
        #{productUnit,jdbcType=VARCHAR},
      </if>
      <if test="highestPrice != null" >
        #{highestPrice,jdbcType=DECIMAL},
      </if>
      <if test="shelfStatus != null" >
        #{shelfStatus,jdbcType=TINYINT},
      </if>
      <if test="mallLogo != null" >
        #{mallLogo,jdbcType=TINYINT},
      </if>
      <if test="sharePoster != null" >
        #{sharePoster,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.dao.ysxAgentProductBean" >
    update ysx_agent_product
    <set >
      <if test="productName != null" >
        PRODUCT_NAME = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productCover != null" >
        PRODUCT_COVER = #{productCover,jdbcType=VARCHAR},
      </if>
      <if test="productType != null" >
        PRODUCT_TYPE = #{productType,jdbcType=SMALLINT},
      </if>
      <if test="productId != null" >
        PRODUCT_ID = #{productId,jdbcType=BIGINT},
      </if>
      <if test="saleUrl != null" >
        SALE_URL = #{saleUrl,jdbcType=VARCHAR},
      </if>
      <if test="salePoster != null" >
        SALE_POSTER = #{salePoster,jdbcType=VARCHAR},
      </if>
      <if test="width != null" >
        WIDTH = #{width,jdbcType=INTEGER},
      </if>
      <if test="height != null" >
        HEIGHT = #{height,jdbcType=INTEGER},
      </if>
      <if test="iconSize != null" >
        ICON_SIZE = #{iconSize,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="incomeProportion != null" >
        INCOME_PROPORTION = #{incomeProportion,jdbcType=DECIMAL},
      </if>
      <if test="seniorProportion != null" >
        SENIOR_PROPORTION = #{seniorProportion,jdbcType=DECIMAL},
      </if>
      <if test="seniorAmount != null" >
        SENIOR_AMOUNT = #{seniorAmount,jdbcType=DECIMAL},
      </if>
      <if test="incomeAmount != null" >
        INCOME_AMOUNT = #{incomeAmount,jdbcType=DECIMAL},
      </if>
      <if test="productPrice != null" >
        PRODUCT_PRICE = #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="salePrice != null" >
        SALE_PRICE = #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="oneselfPrice != null" >
        ONESELF_PRICE = #{oneselfPrice,jdbcType=DECIMAL},
      </if>
      <if test="sortCode != null" >
        SORT_CODE = #{sortCode,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=TINYINT},
      </if>
      <if test="iconUrl != null" >
        ICON_URL = #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="iconWidth != null" >
        ICON_WIDTH = #{iconWidth,jdbcType=INTEGER},
      </if>
      <if test="iconHeight != null" >
        ICON_HEIGHT = #{iconHeight,jdbcType=INTEGER},
      </if>
      <if test="textWidth != null" >
        TEXT_WIDTH = #{textWidth,jdbcType=INTEGER},
      </if>
      <if test="textHeight != null" >
        TEXT_HEIGHT = #{textHeight,jdbcType=INTEGER},
      </if>
      <if test="textFront != null" >
        TEXT_FRONT = #{textFront,jdbcType=INTEGER},
      </if>
      <if test="shareTitle != null" >
        SHARE_TITLE = #{shareTitle,jdbcType=VARCHAR},
      </if>
      <if test="shareDetailes != null" >
        SHARE_DETAILES = #{shareDetailes,jdbcType=VARCHAR},
      </if>
      <if test="defaultShare != null" >
        DEFAULT_SHARE = #{defaultShare,jdbcType=TINYINT},
      </if>
      <if test="channelType != null" >
        CHANNEL_TYPE = #{channelType,jdbcType=TINYINT},
      </if>
      <if test="shareImg != null" >
        SHARE_IMG = #{shareImg,jdbcType=VARCHAR},
      </if>
      <if test="productPackageType != null" >
        PRODUCT_PACKAGE_TYPE = #{productPackageType,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="productDesc != null" >
        PRODUCT_DESC = #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="productUnit != null" >
        PRODUCT_UNIT = #{productUnit,jdbcType=VARCHAR},
      </if>
      <if test="highestPrice != null" >
        highest_price = #{highestPrice,jdbcType=DECIMAL},
      </if>
      <if test="shelfStatus != null" >
        SHELF_STATUS = #{shelfStatus,jdbcType=TINYINT},
      </if>
      <if test="mallLogo != null" >
        MALL_LOGO = #{mallLogo,jdbcType=TINYINT},
      </if>
      <if test="sharePoster != null" >
        SHARE_POSTER = #{sharePoster,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where AGENT_PRODUCT_ID = #{agentProductId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.example.demo.dao.ysxAgentProductBean" >
    update ysx_agent_product
    set PRODUCT_NAME = #{productName,jdbcType=VARCHAR},
      PRODUCT_COVER = #{productCover,jdbcType=VARCHAR},
      PRODUCT_TYPE = #{productType,jdbcType=SMALLINT},
      PRODUCT_ID = #{productId,jdbcType=BIGINT},
      SALE_URL = #{saleUrl,jdbcType=VARCHAR},
      SALE_POSTER = #{salePoster,jdbcType=VARCHAR},
      WIDTH = #{width,jdbcType=INTEGER},
      HEIGHT = #{height,jdbcType=INTEGER
      ICON_SIZE = #{iconSize,jdbcType=INTEGER},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      CREATE_USER_ID = #{createUserId,jdbcType=BIGINT},
      INCOME_PROPORTION = #{incomeProportion,jdbcType=DECIMAL},
      SENIOR_PROPORTION = #{seniorProportion,jdbcType=DECIMAL},
      SENIOR_AMOUNT = #{seniorAmount,jdbcType=DECIMAL},
      INCOME_AMOUNT = #{incomeAmount,jdbcType=DECIMAL},
      PRODUCT_PRICE = #{productPrice,jdbcType=DECIMAL},
      SALE_PRICE = #{salePrice,jdbcType=DECIMAL},
      ONESELF_PRICE = #{oneselfPrice,jdbcType=DECIMAL},
      SORT_CODE = #{sortCode,jdbcType=TINYINT},
      STATUS = #{status,jdbcType=TINYINT},
      ICON_URL = #{iconUrl,jdbcType=VARCHAR},
      ICON_WIDTH = #{iconWidth,jdbcType=INTEGER},
      ICON_HEIGHT = #{iconHeight,jdbcType=INTEGER},
      TEXT_WIDTH = #{textWidth,jdbcType=INTEGER},
      TEXT_HEIGHT = #{textHeight,jdbcType=INTEGER},
      TEXT_FRONT = #{textFront,jdbcType=INTEGER},
      SHARE_TITLE = #{shareTitle,jdbcType=VARCHAR},
      SHARE_DETAILES = #{shareDetailes,jdbcType=VARCHAR},
      DEFAULT_SHARE = #{defaultShare,jdbcType=TINYINT},
      CHANNEL_TYPE = #{channelType,jdbcType=TINYINT},
      SHARE_IMG = #{shareImg,jdbcType=VARCHAR},
      PRODUCT_PACKAGE_TYPE = #{productPackageType,jdbcType=TINYINT},
      REMARK = #{remark,jdbcType=VARCHAR},
      PRODUCT_DESC = #{productDesc,jdbcType=VARCHAR},
      PRODUCT_UNIT = #{productUnit,jdbcType=VARCHAR},
      highest_price = #{highestPrice,jdbcType=DECIMAL},
      SHELF_STATUS = #{shelfStatus,jdbcType=TINYINT},
      MALL_LOGO = #{mallLogo,jdbcType=TINYINT},
      SHARE_POSTER = #{sharePoster,jdbcType=LONGVARCHAR}
    where AGENT_PRODUCT_ID = #{agentProductId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.dao.ysxAgentProductBean" >
    update ysx_agent_product
    set PRODUCT_NAME = #{productName,jdbcType=VARCHAR},
      PRODUCT_COVER = #{productCover,jdbcType=VARCHAR},
      PRODUCT_TYPE = #{productType,jdbcType=SMALLINT},
      PRODUCT_ID = #{productId,jdbcType=BIGINT},
      SALE_URL = #{saleUrl,jdbcType=VARCHAR},
      SALE_POSTER = #{salePoster,jdbcType=VARCHAR},
      WIDTH = #{width,jdbcType=INTEGER},
      HEIGHT = #{height,jdbcType=INTEGER},
      ICON_SIZE = #{iconSize,jdbcType=INTEGER},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      CREATE_USER_ID = #{createUserId,jdbcType=BIGINT},
      INCOME_PROPORTION = #{incomeProportion,jdbcType=DECIMAL},
      SENIOR_PROPORTION = #{seniorProportion,jdbcType=DECIMAL},
      SENIOR_AMOUNT = #{seniorAmount,jdbcType=DECIMAL},
      INCOME_AMOUNT = #{incomeAmount,jdbcType=DECIMAL},
      PRODUCT_PRICE = #{productPrice,jdbcType=DECIMAL},
      SALE_PRICE = #{salePrice,jdbcType=DECIMAL},
      ONESELF_PRICE = #{oneselfPrice,jdbcType=DECIMAL},
      SORT_CODE = #{sortCode,jdbcType=TINYINT},
      STATUS = #{status,jdbcType=TINYINT},
      ICON_URL = #{iconUrl,jdbcType=VARCHAR},
      ICON_WIDTH = #{iconWidth,jdbcType=INTEGER},
      ICON_HEIGHT = #{iconHeight,jdbcType=INTEGER},
      TEXT_WIDTH = #{textWidth,jdbcType=INTEGER},
      TEXT_HEIGHT = #{textHeight,jdbcType=INTEGER},
      TEXT_FRONT = #{textFront,jdbcType=INTEGER},
      SHARE_TITLE = #{shareTitle,jdbcType=VARCHAR},
      SHARE_DETAILES = #{shareDetailes,jdbcType=VARCHAR},
      DEFAULT_SHARE = #{defaultShare,jdbcType=TINYINT},
      CHANNEL_TYPE = #{channelType,jdbcType=TINYINT},
      SHARE_IMG = #{shareImg,jdbcType=VARCHAR},
      PRODUCT_PACKAGE_TYPE = #{productPackageType,jdbcType=TINYINT},
      REMARK = #{remark,jdbcType=VARCHAR},
      PRODUCT_DESC = #{productDesc,jdbcType=VARCHAR},
      PRODUCT_UNIT = #{productUnit,jdbcType=VARCHAR},
      highest_price = #{highestPrice,jdbcType=DECIMAL},
      SHELF_STATUS = #{shelfStatus,jdbcType=TINYINT},
      MALL_LOGO = #{mallLogo,jdbcType=TINYINT}
    where AGENT_PRODUCT_ID = #{agentProductId,jdbcType=BIGINT}
  </update>
</mapper>